# exclude cmake build dir
/build

# exclude Debian packaging stuff
/debian/.debhelper
/debian/loudgain*
/debian/debhelper-build-stamp
/debian/docs
/debian/files
/debian/patches
/obj-*
/.pc

# exclude MacOS stuff
.DS_Store

